/.classpath
/.project
/.settings
/node_modules
/node
/package
.idea
*.iml
*.ipr
target
.settings
.project
.classpath
/src/main/resources/javascript/apps/*.js
/src/main/resources/javascript/apps/*.map
yarn-error.log
